<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo>
    <a routerLink="/" class="navbar-brand">The Ultimate Recipe Book</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    
    <ul class="navbar-nav mr-auto">

      <!-- Open the Recipes, and tab highlighted when clicked -->
      <li routerLinkActive="active" class="nav-item" >
        <a routerLink="/recipes"
        class="nav-link waves-light" mdbRippleRadius> 
          Recipes
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- Open the Shopping List, and tab is highlighted when clicked -->
      <li routerLinkActive="active" class="nav-item">

        <a routerLink="/shopping-list"
        class="nav-link waves-light" mdbRippleRadius> 
          Shopping List
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>

    <!-- Manage dropdown -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" 
        class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Manage
          <span class="caret"></span>
        </a>
        
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" mdbRippleRadius> Save Data </a>
          <a class="dropdown-item" mdbRippleRadius> Fetch Data </a>
        </div>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->