.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

textarea {
  height: 6em;
}

input {
  text-indent: 10px;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}