

<!-- Recipe details show picture-->
<div class="container-fluid">
  <div class="col-xs-12">
    <br>
    <center><img [src]="recipe.imagePath" alt="{{ recipe.name }}" 
    class="img-responsive" style="max-height:250px"></center>
  </div>
</div>

<!-- Recipe details show name-->
<div class="container-fluid">
  <div class="col-xs-12">
    <center><h1>{{ recipe.name }}</h1></center>
  </div>
</div>

<!-- Recipe details Manage Recipe dropdown-->
<div class="container-fluid">
  <div class="col-xs-12"><center>
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" 
        class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
          Manage Recipe
        </button>
    
        <div class="dropdown-menu dropdown-primary">        
          <a class="dropdown-item"  
          (click)="onAddToSL()" id="alert-target">
            Add to Shopping List
          </a>

          <a class="dropdown-item" (click)="onEditRecipe()"> Edit Recipe </a>
          <a class="dropdown-item" (click)="onDeleteRecipe()"> Delete Recipe </a>
        </div>
    </div></center>
  </div>
</div>

<!-- Recipe details show details-->
<div class="container-fluid">
  <div class="col-xs-12">
      <br> {{ recipe.description }} <br> <br>
  </div>
</div>

<!-- Recipe details show ingredients-->
<div class="container-fluid">
  <div class="col-xs-12">
    
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let ingredient of recipe.ingredients"> 
        {{ ingredient.name }} 
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
      </li>
    </ul>

  </div>
</div>
<br>


<!--Dropdown primary
<div class="dropdown" dropdown>

    //Trigger
    <button dropdownToggle class="btn btn-primary dropdown-toggle waves-light" type="button" mdbRippleRadius>
        Manage Recipe
    </button>

    //Menu
    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
    </div>
</div>
Dropdown primary-->