<!-- Shopping List parent component -->
<div class="container fluid">
  <div class="col-xs-12">
    
    <!-- Show shopping list form -->
    <app-shopping-edit> </app-shopping-edit>

    <hr>

    <!-- Show ingredient added to shopping list -->
    <ul class="list-group">
      <a class="list-group-item d-flex justify-content-between align-items-center" 
      style="cursor: pointer" 
      *ngFor="let ingredient of ingredients"> 
        {{ ingredient.name }}       
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
      </a>
    </ul>
  </div>
  
</div>
<br>