<!-- Start your project here
<div style="height: 100vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>
  
      <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
      <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>
  
      <p class="animated fadeIn text-muted">MDB Team</p>
    </div>
  </div>
/Start your project here-->

<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container" >
  <div class="row">
    <div class="col-md-12">    
      <router-outlet> </router-outlet>
      <!--
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes> 
      // 3 equals to check value and type 
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
    </div>
  </div>
</div>
