<!-- Recipe items list-->
<div class="list-group" >
    <a class="list-group-item" [routerLink]="[index]" routerLinkActive="active">
        <div >

            <!--Recipe items show name/ title-->
            <h4 class="list-group-item-heading"> {{ recipe.name }} </h4>

            <!--Recipe items card deck show description-->
            <h5 class="list-group-item-text"> {{ recipe.description }} </h5>
        </div>
        
        <div style="text-align: center;">
            <!--Recipe items show picture, name if pic not shown-->
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}" 
            class="img-fluid" style="max-height:100px">
        </div>
    </a>
</div>