<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>New Recipe</button>

<hr>

<div class="row" style="padding-left:15px">
    <a href="#" *ngFor="let recipe of recipes">
        <div class="card card-cascade wider reverse my-4 mr-1">
            <div class="card-body text-center">

                <!--Title-->
                <h4 class="card-title">
                    <strong>{{ recipe.name }}</strong>
                </h4>

                <img [src]="recipe.imagePath" alt="{{ recipe.name }}" 
                class="img-fluid" style="height:15vh">

                <br> <br>
                
                <p class="card-text">{{ recipe.description }} </p>
            </div>
        </div>
    </a>
</div>
<app-recipe-item></app-recipe-item>


